<main>
  <div class="container">
    <h2 class="card-title">Top pics (need to be replaced with the slider)</h2>
    <div class="row">
      <div *ngFor="let favorite of favorites">
      <div class="col"  >
          <!--Card-->
          <div class="card" 
            style="width:180px;
              margin-top: 15px;
              box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)">

              <app-coupon [title]="favorite.title" [details]="favorite.details" [img]="favorite.img"></app-coupon> 

          </div>
      </div>
    </div>
    </div>
    
  </div>
  <br>
  <br>
  <div class="container">
      <h2 class="card-title">Trending now</h2>
      <div class="row">
        <div *ngFor="let coupon of coupons">
        <div class="col"  >
            <!--Card-->
            <div class="card" 
              style="width:180px;
                margin-top: 15px;
                box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)">

                <app-coupon [title]="coupon.title" [details]="coupon.details" [img]="coupon.img"></app-coupon> 
  
            </div>
        </div>
      </div>
      </div>
      
    </div>
</main>