  <div class="container">
    <h2 class="card-title">Top pics(need to be replaced with the slider)</h2>
    <div class="row">
      <div *ngFor="let top of topPicks">
        <div class="col"  >
          <app-coupon [title]="top.title" [details]="top.details" [img]="top.img"></app-coupon> 
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h2 class="card-title">Trending now</h2>
      <div class="row">
        <div *ngFor="let coupon of coupons">
        <div class="col"  >
          <app-coupon [title]="coupon.title" [details]="coupon.details" [img]="coupon.img"></app-coupon> 
        </div>
      </div>
  </div>
